.intro {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.intro__title {
  max-width: 840px;
  font-weight: 900;
  font-size: 3.4rem;
  line-height: 58px;
  margin: 92px auto 0 0;
}

.intro__text {
  max-width: 738px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 34px;
  margin: 40px 246px 0 0;
  text-align: justify;
}

.intro__author {
  width: 738px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 34px;
  text-align: right;
  margin: 10px 6px 0 0;
}

.intro__text-description {
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  margin: 32px 10px 0 0;
}

@media (max-width: 1024px) {
  .intro {
    padding: 0 24px 0;
  }

  .intro__title {
    width: 100%;
    font-size: 2.8rem;
    margin: 92px 0 0;
  }
  .intro__text {
    width: 100%;
  }

  .intro__author {
    width: 100%;
  }
  .intro__text-description {
    text-align: justify;
  }
}

@media (max-width: 544px) {
  .intro {
    padding: 0 16px 0;
  }

  .intro__title {
    margin-top: 64px;
    font-size: 2rem;
    line-height: 32px;
  }
  .intro__text {
    margin-top: 40px;
    line-height: 30px;
  }

  .intro__author {
  }
  .intro__text-description {
    margin: 32px 0 0;
  }
}
