.photo-grid{
margin: 0 auto;
padding: 120px 0 0;
max-width: 1184px;
max-height: 445px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
gap: 20px;
}

.photo-grid__item{
max-width: 284px;

}